<div class="container" ng-controller="SettingsCtrl">

 <h3>Settings</h3>

<!--{{SettingsCtrl.test}}

<app-highlight></app-highlight>
<div app-highlight=''></div>
<div class="app-highlight"></div> -->

<h1>{{number}}</h1>
<app-alert message="Wystapil blad" type="danger" on-dismiss="number = 1"></app-alert>
<app-alert message="Brak wiadomosci" type="info" on-dismiss="number = 2"></app-alert>
<app-alert message="Wiadomosc wyslana" type="success" on-dismiss="number = 3"></app-alert>

</div>