<tasks-page></tasks-page>

<!-- <div class="container" >
    <div class="row" ng-controller="TasksCtrl">
      <div class="col">
        <input id="task_search" type="text" class="form-control" ng-model="searchPhrase" ng-keyup="searchTasks()">
        <p>Tasks to do: {{tasksToDo + " / " + tasks.length}}</p>
        <div class="list-group">
            <div class="list-group-item d-flex justify-content-between" ng-repeat="task in filteredTasks" ng-class="{'active': task.id === selectedTask.id}" ng-click='selectTask(task.id)'><span ng-style="{'text-decoration' : (task.completed) ? 'line-through' : 'none' }">{{task.name}}</span> <button class="btn btn-danger" ng-click='delete(task.id)'>Delete</button></div>
          </div>
          <button class="btn btn-success" ng-click="addNew()">Add</button>
          <form ng-submit="$event.preventDefault()" ng-show='isAdding'>
            <div class="form-group mb-3">
              <input id="task_name" type="text" class="form-control" ng-model="newTask.name" ng-keypress="$event.keyCode == 13 && saveAdding()">
  
            </div>
            <div class="form-group mb-3"><label for="task_completed">
                <input id="task_completed" type="checkbox" ng-model="newTask.completed">
                Completed</label>
            </div>
            <button class="btn btn-danger" ng-click="cancelAdding()">Cancel</button>
            <button class="btn btn-success" ng-click="saveAdding()" >Save</button>
          </form>
      </div>
      <div class="col">
        <dl ng-show='selectedTask.id'>
          <dt>Name:</dt>
          <dd>{{ selectedTask.name }}</dd>
          <dt>Completed:</dt>
          <dd>{{ selectedTask.completed ? "Yes": "No" }}</dd>
          <button class="btn btn-info" ng-click="edit()" ng-hide='isEditing'>Edit</button>
        </dl>
  
        <form ng-show='isEditing'>
          <div class="form-group mb-3"><label for="task_name">{{ task.name }}</label>
            <input id="task_name" type="text" class="form-control" ng-model="draft.name">
          </div>
          <div class="form-group mb-3"><label for="task_completed">
              <input id="task_completed" type="checkbox" ng-model="draft.completed">
              Completed</label>
          </div>
          <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
          <button class="btn btn-success" ng-click="save(draft.id)">Save</button>
        </form>
      </div>
    </div>
  </div> -->