<users-page></users-page>


<!-- <div class="container" ng-controller='UserCtrl'>
    <div class="row">
      <div class="col-5">
        <h4>Users List</h4>
        <div class="list-group">
          <div class="list-group-item" ng-repeat="user in UserCtrl.users" ng-click="UserCtrl.select(user.id)" ng-class="{'active': user.id === UserCtrl.selected.id}">{{user.username}}</div>
        </div>
      <div class="input-group my-3">
        <input type="text" class="form-control">
        <div class="input-group-append">
          <button class="input-group-text btn btn-dark">Add</button>
        </div>
      </div>
      </div>
      <div class="col-5">
        <h4>Selected user details</h4>
        <dl ng-if='UserCtrl.selected'>
          <dt>Nazwa</dt>
          <div ng-hide='UserCtrl.isEditingUser'>
            <dd>{{UserCtrl.selected.username}}</dd>
            <button class="btn btn-dark" ng-click='UserCtrl.editUser()'>Edit</button>
            <button class="btn btn-danger" ng-click='UserCtrl.deleteUser(selected.id)'>Delete</button>
          </div>
          <form ng-show='UserCtrl.isEditingUser' name="UserCtrl.form">
            <dd>{{UserCtrl.selected.username}}</dd>
            <div class="alert alert-danger" role="alert" ng-if="UserCtrl.form['name'].$error.required">
              Name can't be empty
            </div>
            <div class="alert alert-danger" role="alert" ng-if="UserCtrl.form['name'].$error.minlength">
              Name cant be shorter than 5 characters
            </div>
            <input type="text" ng-model="UserCtrl.draft.username" minlength="5" required name="name">
            <button class="btn btn-success" ng-click='UserCtrl.save({id: UserCtrl.draft.id, username: UserCtrl.draft.username})' ng-disabled="UserCtrl.form.$invalid">Save</button>
            <button class="btn btn-danger" ng-click="UserCtrl.cancelEditUser()">Cancel</button>
            <pre>{{UserCtrl.form | json:2}}</pre>
          </form>
          
        </dl>
      </div>
    </div>

    <hr>

  </div> -->
